@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body, html {
  margin: 0;
  padding: 0;
  min-width: 360px;
  max-width: 576px;
}

.header {
  background-color: #fa9519;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.header__logo {
  margin-left: 18px;
}

.header__logout {
  margin-right: 20px;
  margin-left: auto;
}

.navigation {
  height: 49px;
  border-bottom: 1px solid #dedede;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.navigation__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: 49px;
      grid-template-rows: 49px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__button {
  min-width: 93px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
      grid-template-areas: "navigation__icon" "navigation__text";
  background: white;
  border: none;
}

.navigation__button--center {
  border-right: 1px solid #dedede;
  border-left: 1px solid #dedede;
}

.navigation__button--active {
  background: #2936ae;
}

.navigation__text {
  color: #7a7a7a;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-align: center;
  line-height: 150%;
  margin-bottom: 3px;
}

.navigation__text--active {
  color: white;
  font-weight: 500;
}

.user {
  margin-top: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 20px auto;
      grid-template-columns: auto auto 20px auto;
      grid-template-areas: "avatar label-name label-buddy label-buddy" "avatar user-name user-icon buddy-name";
  -webkit-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.user__avatar {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: avatar;
  margin-left: auto;
  margin-right: 4px;
}

.user__label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 150%;
  color: #7a7a7a;
  margin-top: auto;
}

.user__label--name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: label-name;
}

.user__label--buddy {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: label-buddy;
}

.user__icon {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: user-icon;
  size: 20px;
}

.user__name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: #2936ae;
}

.user__name--name {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: user-name;
}

.user__name--buddy {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: buddy-name;
}

.cta {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../assets/dessin feuille.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.cta__content {
  width: 280px;
  margin-top: 23px;
  background: #2936ae;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "close close" "icon text";
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 7px;
}

.cta__text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 150%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  margin: 0 10px 14px 0;
}

.cta__close {
  width: 9px;
  height: 9px;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: close;
  margin: 8px 10px 0 auto;
}

.cta__close::after, .cta__close::before {
  content: " ";
  position: absolute;
  background: white;
  height: 10px;
  width: 2px;
  left: 50%;
}

.cta__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cta__close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cta__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  margin-left: 10px;
}

.mood {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(250, 108, 25, 0.1);
  margin-top: 10px;
  padding: 25px 0;
  -webkit-clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
          clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  background-image: url("../assets/Group.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 15px;
}

.mood__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
  margin: 0 0 8px 5px;
}

.mood__rating {
  background-color: #fa9519;
  border-radius: 10px;
  width: 280px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "label" "content";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 9px;
}

.mood__label {
  font-family: "Roboto", sans-serif;
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: label;
  text-align: center;
  margin-top: 9px;
}

.mood__content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
  background-color: white;
  border-radius: 10px;
  width: 266px;
  margin-bottom: 7px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "label" "text" "mood";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.mood__contentLabel {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 150%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: label;
}

.mood__text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #7a7a7a;
  list-style: 120%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  margin: 0;
}

.mood__icons {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mood;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
}

.mood__icons--closing {
  -webkit-animation: closing 2s;
          animation: closing 2s;
}

.mood__shared {
  background-color: #a4d129;
  border-radius: 10px;
  margin-top: 5px;
  padding: 13px;
  text-align: center;
  display: none;
}

.mood__sharedText {
  font-family: "Roboto", sans-serif;
  color: #333333;
  line-height: 140%;
}

@-webkit-keyframes closing {
  0% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 100% 0 100%);
            clip-path: inset(0 100% 0 100%);
  }
}

@keyframes closing {
  0% {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  100% {
    -webkit-clip-path: inset(0 100% 0 100%);
            clip-path: inset(0 100% 0 100%);
  }
}

.appointments {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 30px 0;
}

.appointments__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
}

.appointments__label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 150%;
  color: #7a7a7a;
}

.appointments__appointment {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "icon heading" ". content";
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-rows: 30px auto;
      grid-template-rows: 30px auto;
}

.appointments__iconWrapper {
  height: 37px;
  width: 37px;
  background-color: #7a7a7a;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  position: relative;
  overflow: visible;
}

.appointments__iconWrapper--planned {
  background-color: #fa9519;
}

.appointments__iconWrapper--planned::after {
  height: 300% !important;
  background: #fa9519 !important;
}

.appointments__iconWrapper::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3px;
  height: 200%;
  background: linear-gradient(182.41deg, #7a7a7a -3%, #fa941b 37%);
}

.appointments__heading {
  background-color: rgba(122, 122, 122, 0.9);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
  padding: 4px 4px 4px 14px;
  background-image: url("../assets/meeting-bg.svg");
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 12px rgba(196, 196, 196, 0.4);
          box-shadow: 4px 4px 12px rgba(196, 196, 196, 0.4);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: heading;
  max-height: 30px;
}

.appointments__button {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #fa9519;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #fa9519;
  padding: 5px;
}

.appointments__content {
  padding: 10px;
  border: none;
  border: solid 1px rgba(122, 122, 122, 0.1);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 4px 4px 12px rgba(196, 196, 196, 0.4);
          box-shadow: 4px 4px 12px rgba(196, 196, 196, 0.4);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 95%;
      grid-template-columns: 95%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}

.appointments__content--planned {
  -ms-grid-columns: 10px auto;
      grid-template-columns: 10px auto;
      grid-template-areas: "text text" "map location";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px 10px 15px;
}

.appointments__text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: text;
  font-family: "Roboto", sans-serif;
  color: #7a7a7a;
  font-size: 10px;
  line-height: 150%;
  font-weight: 300;
}

.appointments__date {
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 130%;
}

.appointments__location {
  font-family: "Roboto", sans-serif;
  color: #333333;
  font-size: 10px;
  line-height: 150%;
  text-decoration: underline;
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: location;
}

.appointments__locationIcon {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: map;
}

.milestones {
  -webkit-clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
          clip-path: polygon(0 12%, 100% 0%, 100% 88%, 0% 100%);
  background-color: rgba(250, 108, 25, 0.1);
  padding: 36px 0 47px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 25px;
  margin-bottom: 10px;
}

.milestones__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
}

.milestones__button {
  background-color: #2936ae;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 130%;
  width: 280px;
  padding: 10px 0;
  border-color: #2936ae;
}
/*# sourceMappingURL=my-profile.css.map */